@page "/sessions"
@using Sabacc.Domain
@using System.ComponentModel.DataAnnotations
@inject NavigationManager _navigationManager
@inject SabaccSessionService _sabaccSessionService
@inject BrowserStorage _browserStorage

<PageTitle>Sessions</PageTitle>

<h1>Sessions</h1>

@if (_sessions is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Players</th>
                <th>Variant</th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var session in _sessions)
            {
                <tr>
                    <td>@session.SessionId</td>
                    <td>@session.SessionStatus</td>
                    <td>@session.Players / @session.Slots</td>
                    <td>@session.VariantType</td>
                    <td>
                        @if (session.SessionStatus == SessionStatus.Open)
                        {
                            <EditForm Model="_forms[session]" OnValidSubmit="Join">
                                <DataAnnotationsValidator />
                                <ValidationSummary />

                                <InputText @bind-Value="_forms[session].Name"/>
                                <button type="submit" class="btn btn-primary ms-1">Join</button>
                            </EditForm>
                        }
                        @*<a href="/sessions/@session.SessionId" class="btn btn-secondary ms-1">Spectate</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private IEnumerable<SabaccSessionListItem>? _sessions = null;

    private Dictionary<SabaccSessionListItem, JoinSessionForm> _forms;

    public class JoinSessionForm
    {
        public Guid SessionId { set; get; }

        [Required(AllowEmptyStrings = false)]
        [MinLength(3), MaxLength(30)]
        public string Name { get; set; }

    }

    protected override async Task OnInitializedAsync()
    {
        _sessions = await _sabaccSessionService.GetSessions();
        _forms = _sessions.ToDictionary(x => x, x => new JoinSessionForm(){ SessionId = x.SessionId });
    }

    public async void Join()
    {
        var form = _forms.First(form => !string.IsNullOrEmpty(form.Value.Name));
        var session = _sabaccSessionService.Sessions.Find(session => session.Id == form.Value.SessionId);

        if (session is not null)
        {
            var playerId = await _browserStorage.GetPlayerId();

            if (session.PlayerIds.Contains(playerId))
            {
                _navigationManager.NavigateTo($"/sessions/{session.Id}/player");
            }
            else
            {
                await session.JoinSession(playerId, form.Value.Name);
                _navigationManager.NavigateTo($"/sessions/{session.Id}/player");
            }
        }
    }
}
